<!DOCTYPE html>
<html>
	<head>
		<title>Info Entreprise</title>
		<meta charset="UTF-8">
	</head>

	<body>
		{{include('navbar.html.twig')}}
		<h1>Entreprise
			{{entreprise.getENTRS()}}</h1>
		<ul>
			<li>Adresse :
				{{entreprise.getENTADRESSE()}}</li>
			<li>Code postal :
				{{entreprise.getENTCP()}}</li>
			<li>Ville :
				{{entreprise.getENTVILLE()}}</li>
			<li>Pays :
				{{entreprise.getENTPAYS()}}</li>
			<li>
				Spécialité(s) recherchée(s) :
				{% for specialite in entreprise.getSpecialites() %}
					{{specialite.getSPELIBELLE()}}
				{% endfor %}
			</li>
			{% if admin %}
				<li>
					<a href={{ path('modifierEntreprise', { 'id': entreprise.getId() } ) }}>
						<button>Modifier</button>
					</a>
				</li>
			{% endif %}
		</ul>

		<div>
			<table>
				<tr>
					<td>ID</td>
					<td>Nom Prenom</td>
					<td>Mail</td>
					<td>Telephone</td>
					<td>Telephone professionnel</td>
					<td>Profil</td>
					<td>Fonction</td>
				</tr>
				{% for personne in listePersonne %}
					<tr>
						<td>{{ personne.getId() }}</td>
						<td>{{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }}</td>
						<td>{{ personne.getPERMAIL() }}</td>
						<td>{{ personne.getPERTELPERSO() }}</td>
						<td>{{ personne.getPERTELPRO() }}</td>
						<td>
							{% for Profil in personne.getProfils() %}
								{{ Profil.getPROTYPE() }}
							{% endfor %}
						</td>
						<td>
							{% for Fonction in personne.getFonctions() %}
								{{ Fonction.getFONLIBELLE() }}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
