<!DOCTYPE html>
<html>
	<head>
		<title>Info Entreprise</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/general.css"/>
	</head>

	<body class="body">
		{{include('navbar.html.twig')}}
		<div class="toolBox isolated">
			<h1 class="custom-text larger isolated">Entreprise
				{{entreprise.getENTRS()}}</h1>
			<ul class="ul-custom">
				<li><b>Adresse :</b>
					{{entreprise.getENTADRESSE()}}</li>
				<li><b>Code postal :</b>
					{{entreprise.getENTCP()}}</li>
				<li><b>Ville :</b>
					{{entreprise.getENTVILLE()}}</li>
				<li><b>Pays :</b>
					{{entreprise.getENTPAYS()}}</li>
				<li>
					<b>Spécialité(s) recherchée(s) :</b>
					{% for specialite in entreprise.getSpecialites() %}
						{{specialite.getSPELIBELLE()}}
					{% endfor %}
				</li>
				{% if admin %}
					<li>
						<a href={{ path('modifierEntreprise', { 'id': entreprise.getId() } ) }}>
							<button>Modifier</button>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>

		<div>
			<h1 class="custom-text larger isolated">Employés de l'entreprise {{entreprise.getENTRS()}}</h1>
			<table class="table-custom isolated col-9">
				<thead>
					<tr>
						<td>ID</td>
						<td>Nom Prenom</td>
						<td>Mail</td>
						<td>Telephone perso.</td>
						<td>Telephone pro.</td>
						<td>Profil</td>
						<td>Fonction</td>
					</tr>
				</thead>
				{% for personne in listePersonne %}
					<tr>
						<td>{{ personne.getId() }}</td>
						<td>{{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }}</td>
						<td>{{ personne.getPERMAIL() }}</td>
						<td>{{ personne.getPERTELPERSO() }}</td>
						<td>{{ personne.getPERTELPRO() }}</td>
						<td>
							{% for Profil in personne.getProfils() %}
								{{ Profil.getPROTYPE() }}
							{% endfor %}
						</td>
						<td>
							{% for Fonction in personne.getFonctions() %}
								{{ Fonction.getFONLIBELLE() }}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
