{{include('navbar.html.twig')}}
<div class="tableau" style="width:75%; border: 1px solid black;">
    <table>
        <tr>
            <td style="width: 30px; border: 1px solid black;">ID</td>
            <td style="width: 200px; border: 1px solid black;">Nom Prenom</td>
            <td style="width: 150px; border: 1px solid black;">Mail</td>
            <td style="width: 150px; border: 1px solid black;">Telephone</td>
            <td style="width: 150px; border: 1px solid black;">Telephone professionnel</td>
            <td style="width: 150px; border: 1px solid black;">Entreprise</td>
            <td style="width: 150px; border: 1px solid black;">Profil</td>
            <td style="width: 150px; border: 1px solid black;">Fonction</td>
        </tr>
        {% for personne in listePersonne %}
        <tr>
            <td style="width: 30px; border: 1px solid black; ">
                <a style="text-decoration : none; color: black;">
                    {{ personne.getId() }} 
                </a>
            </td>
            <td style="width: 200px; border: 1px solid black; text-decoration : none; color: black;">
                <a style="text-decoration : none; color: black;" href={{ path('modifierPersonne', { 'id': personne.getId() }) }}> {{ personne.getPERNOM() }}, {{ personne.getPERPRENOM() }} </a></td>
                    
                </a>
            </td>
            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                <a style="text-decoration : none; color: black;"> 
                    {{ personne.getPERMAIL() }}
                </a>
            </td>
            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                <a style="text-decoration : none; color: black;"> 
                    {{ personne.getPERTELPERSO() }}
                </a>
            </td>
            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                <a style="text-decoration : none; color: black;"> 
                    {{ personne.getPERTELPRO() }}
                </a>
            </td>
            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                {% for entreprise in personne.getEntreprises() %}
                    <a style="text-decoration : underline; color: blue;" href={{ path('infoEntreprise', {'id': entreprise.id }) }}> 
                        {{ entreprise.getENTRS() }}                                    
                    </a>
                {% endfor %}
            </table>
        </div>
        {% if admin %}
            <h1>Création d'une personne :</h1>
            {{form(form)}}
        {% endif %}
    </body>
</html>
