<!DOCTYPE html>
<html>
    <head>
        <title>Liste Utilisateurs</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{include('navbar.html.twig')}}
        <div>
            <table>
                <tr>
                    <td>ID</td>
                    <td>Login</td>
                    <td>Accès</td>
                </tr>
                {% for Utilisateurs in listeUtilisateur %}
                    <tr>
                        <td>{{ Utilisateurs.getId() }}</td>
                        <td> {{ Utilisateurs.getUTILOGIN() }}</td>
                        <td>            
                            {% if Utilisateurs.getUTIADMIN %}
                                Administrateur
                            {% else %}
                                Enseignant
                            {% endif %}
                        </td>
                        <td>
                        <a href={{ path('supprimerUtilisateur', { 'id': Utilisateurs.getId() }) }}>X</a> 
                        </td>
                        <td>
                        <a href={{ path('modifierUtilisateur', { 'id': Utilisateurs.getId() }) }}>Modifier</a> 
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <h1>Ajouter un utilisateur</h1>
        {{ form(form) }}
    </body>
</html>