<!DOCTYPE html>
<html>
    <head>
        <title>Liste Personnes</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{include('navbar.html.twig')}}
        <div>
            <table>
                <tr>
                    <td>ID</td>
                    <td>Nom Prenom</td>
                    <td>Mail</td>
                    <td>Telephone</td>
                    <td>Telephone professionnel</td>
                    <td>Entreprise</td>
                    <td>Profil</td>
                    <td>Fonction</td>
                </tr>
                {% for personne in listePersonne %}
                <tr>
                    <td>
                        <a>
                            {{ personne.getId() }} 
                        </a>
                    </td>
                    <td>{{ personne.getPERNOM() }}, {{ personne.getPERPRENOM() }}</td>
                    <td>{{ personne.getPERMAIL() }}</td>
                    <td>{{ personne.getPERTELPERSO() }}</td>
                    <td>{{ personne.getPERTELPRO() }}</td>
                    <td>
                        {% for entreprise in personne.getEntreprises() %}
                            <a href={{ path('infoEntreprise', {'id': entreprise.id }) }}> 
                                {{ entreprise.getENTRS() }}                                    
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for Profil in personne.getProfils() %}
                            {{ Profil.getPROTYPE() }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for Fonction in personne.getFonctions() %}
                            {{ Fonction.getFONLIBELLE() }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href={{ path('supprimerPersonne', { 'id': personne.getId() }) }}>X</a> 
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
