<!DOCTYPE html>
<html>
    <head>
        <title>Liste Personnes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/EntreprisePersonneUtilisateur.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/general.css"/>
    </head>
    <body class="body">
        {{include('navbar.html.twig')}}
        <div class="container-fluid">
			<div class="row">
                {% if admin %}
                    <div id="main" class="col-10">      
                {% else %}
                    <div id="main" class="col-12">        
                {% endif %}
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>Nom Prenom</td>
                                <td>Mail</td>
                                <td>Telephone perso.</td>
                                <td>Telephone pro.</td>
                                <td>Entreprise</td>
                                <td>Profil</td>
                                <td colspan="2">Fonction</td>
                            </tr>
                            {% for personne in listePersonne %}
                            <tr>
                                <td>
                                    <a>
                                        {{ personne.getId() }} 
                                    </a>
                                </td>
                                <td>{{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }}</td>
                                <td>{{ personne.getPERMAIL() }}</td>
                                <td>{{ personne.getPERTELPERSO() }}</td>
                                <td>{{ personne.getPERTELPRO() }}</td>
                                <td>
                                    {% for entreprise in personne.getEntreprises() %}
                                        <a href={{ path('infoEntreprise', {'id': entreprise.id }) }}> 
                                            {{ entreprise.getENTRS() }}                                    
                                        </a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for Profil in personne.getProfils() %}
                                        {{ Profil.getPROTYPE() }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for Fonction in personne.getFonctions() %}
                                        {{ Fonction.getFONLIBELLE() }}
                                    {% endfor %}
                                </td>
                                {% if admin %}
                                    <td>
                                        <a href={{ path('supprimerPersonne', { 'id': personne.getId() }) }}>X</a> 
                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            
                    {% if admin %}
                        <div id="sidebar" class="col-2">
                            <div class="banner filtreDiv">
                                <div class="form">
                                    <h1 class="creationTexte">Création d'une personne :</h1>
                                    {{form(form)}}
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </div>
        </div> 
    </body>
</html>