{{include('navbar.html.twig')}}
<div class="tableau" style="width:75%; border: 1px solid black;">
    <table style="text-align:center;">
        <tr>
            <td style="width: 30px; border: 1px solid black;">ID</td>
            <td style="width: 250px; border: 1px solid black;">Raison Sociale</td>
            <td style="width: 400px; border: 1px solid black;">Adresse</td>
            <td style="width: 150px; border: 1px solid black;">Pays</td>
            <td style="width: 200px; border: 1px solid black;">Spécialité</td>
        </tr>
        {% for entreprise in listeEntreprises %}
            <td style="width: 30px; border: 1px solid black; ">{{ entreprise.getId() }}</td>
            <td style="width: 200px; border: 1px solid black; text-decoration : none; color: black;"><a style="text-decoration : none; color: black;" href={{ path('infoEntreprise', { 'id': entreprise.getId() }) }}> {{ entreprise.getENTRS() }} </a></td>
            <td style="width: 300px; border: 1px solid black; text-decoration : none; color: black;">
            {{ entreprise.getENTADRESSE() }} <br/> {{ entreprise.getENTCP() }} {{ entreprise.getENTVILLE() }} 
            </td>
            <td style="width: 100px; border: 1px solid black; text-decoration : none; color: black;">{{ entreprise.getENTPAYS() }}</td>
            

            {#
            <!--

            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                {% for personne in entreprise.getPersonnes() %}
                    {{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }} 
                    {{ personne.getPERMAIL() }} , {{ personne.getPERTEL() }} 
                {% endfor %}
            </td>

            -->
            #}

            <td style="width: 250px; border: 1px solid black; text-decoration : none; color: black;">
                {% for personne in entreprise.getSpecialites() %}
                    {{ personne.getSPELIBELLE() }}
                {% endfor %}
            </td>
            <td>
                <a href={{ path('supprimerEntreprise', { 'id': entreprise.getId() }) }}>X</a> 
            </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div style="margin-left:78%; margin-top:-700px;">
    <table style="text-align:center;">
        <tr>
            <td colspan = 2 style="width: 150px; border: 0px solid black;">Rechercher par filtres :</td>
        </tr>
    </table>
    {{form(formFiltre)}}
</div>

<br/>
<br/>
<br/>


<div style="margin-top: 550px;">
    <h1>Création d'une entreprise :</h1>
    {% if admin %}  
        {{form(formNouveau)}}
    {% endif %}
</div>


