<!DOCTYPE html>
<html>
    <head>
        <title>Liste Utilisateurs</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/general.css"/>
        <script type="text/javascript" src="/js/confirmation.js"></script> 
    </head>

    <body class="body">
        {{include('navbar.html.twig')}}
        <div class="container-fluid">
            <div class="row">
				<div id="main" class="col-10">
                    <table class="table table-striped table-custom isolated">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Login</td>
                                <td colspan="3">Accès</td>
                            </tr>
                        </thead>
                        {% for utilisateur in listeUtilisateur %}
                            <tr>
                                <td>{{ utilisateur.getId() }}</td>
                                <td> {{ utilisateur.getUTILOGIN() }}</td>
                                <td>            
                                    {% if utilisateur.getUTIADMIN %}
                                        Administrateur
                                    {% else %}
                                        Enseignant
                                    {% endif %}
                                </td>
                                <td>
                                {% set id = utilisateur.getId() %}
                                <a class="erreur" href="#" onclick={{"confirmDeleteUtilisateur(#{id})"}}>X</a> 
                                </td>
                                <td>
                                <a class="link-custom" href={{ path('modifierUtilisateur', { 'id': utilisateur.getId() }) }}>Modifier</a> 
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            
                <div id="sidebar" class="col-2">
					<div class="toolBox">
                        {% if admin %}
                            <div class="form">
                                <h1 class="custom-text">Ajouter un utilisateur :</h1>
                                <br/>
                                {{ form(form) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>